{% extends 'base.html' %}

{% block title %}{{ recipe['title'] }} - Recipe{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="card shadow-sm p-4">
    <h2 class="card-title">{{ recipe['title'] }}</h2>
    <p class="mb-1">
      Posted by 
      <a href="{{ url_for('profile.view', username=recipe['username']) }}" class="text-decoration-none">
        {{ recipe['username'] }}
      </a> 
      on {{ recipe['created'] }}
    </p>
    <hr>

    <h5>Instructions</h5>
    <p>{{ recipe['body']}}</p>

  </div>
</div>
{% endblock %}
